<html>
  <head>
    <title>Creating Blog Page</title>
    <link rel="stylesheet" href="../assets/css/blog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="left-side">
        <a href="/">
          <img src="../assets/images/logo.png" alt="logo" />
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog" class="list-active">Blog</a>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <a href="/contact"> Contact Me </a>
      </div>
    </nav>

    <!-- Blog -->
    <!-- Form -->
    <div class="blog">

      {{#if isLogin}}
      <div style="text-align: right; margin-right: 160px; margin-top:50px">
        <a href="/add-blog" style="background-color: orangered; padding: 10px 20px; text-decoration:none; color: white; border-radius: 5px">Add Blog</a>
      </div>
      {{/if}}


      <div id="contents" class="blog-list">
        <!-- dynamic content would be here -->
        {{#each blogs}}
          <div class="blog-list-item">
            <div class="blog-image">
              <img src="../assets/images/blog-img.png" alt="" />
            </div>
            <div class="blog-content">
              {{#if isLogin}}
                <div class="btn-group">
                  <button class="btn-edit">Edit Post</button>
                  <a href="/delete-blog/{{this.id}}" class="btn-post">Delete Blog</a>
                </div>
              {{/if}}
              <h1>
                <a href="/blog-detail/{{this.id}}" target="_blank"
                  >{{this.title}}</a
                >
              </h1>
              <div class="detail-blog-content">
                {{this.post_at}} | {{this.author}}
              </div>
              <p>
                {{this.content}}
              </p>

              {{#each social_media}}
                <i class="fa-brands fa-{{this}}"></i>
              {{/each}}

              <div style="text-align: right; margin-top: 10px">
                <span style="font-size: 12px; color: grey">{{this.duration}}</span>
              </div>
              
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
